[submodule "indicator-service"]
	path = indicator-service
	url = git@github.com:ATT-Acelerar-e-Transformar-o-Turismo/indicator-service.git
[submodule "questions-service"]
	path = questions-service
	url = git@github.com:ATT-Acelerar-e-Transformar-o-Turismo/questions-service.git
[submodule "knowledge-base"]
	path = knowledge-base
	url = git@github.com:ATT-Acelerar-e-Transformar-o-Turismo/knowledge-base.git
[submodule "data-collector"]
	path = data-collector
	url = git@github.com:ATT-Acelerar-e-Transformar-o-Turismo/data-collector.git
[submodule "user-service"]
	path = user-service
	url = git@github.com:ATT-Acelerar-e-Transformar-o-Turismo/user-service.git
[submodule "user-interface"]
	path = user-interface
	url = git@github.com:ATT-Acelerar-e-Transformar-o-Turismo/user-interface.git
