services:
  user-service:
    ports:
      - "8081:8080"
    networks:
      - att-network

  data-collector:
    ports:
      - "8082:8080"
    container_name: data-collector
    environment:
      - REDIS_URL=redis://data-collector-redis:6379
      - DATA_RABBITMQ_URL=amqp://user:password@data-mq:5672/
      - SERVICES_RABBITMQ_URL=amqp://user:password@services-mq:5672/
      - ORIGINS=${ORIGINS:-localhost}
    networks:
      - att-network
    depends_on:
      data-mq:
        condition: service_healthy
      services-mq:
        condition: service_healthy

  resource-service:
    ports:
      - "8083:8080"
    container_name: resource-service
    networks:
      - att-network
    environment:
      - MONGO_URI=mongodb://resource-mongo:27017/resources
      - RABBITMQ_URL=amqp://user:password@services-mq/
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    depends_on:
      resource-mongo:
        condition: service_healthy

  indicator-service:
    ports:
      - "8084:8080"
    container_name: indicator-service
    networks:
      att-network:
        aliases:
          - indicator-service
    environment:
      - REDIS_HOST=indicators-redis
      - REDIS_PORT=6379
      - MONGO_URI=mongodb://indicators-mongo/indicators
      - RABBITMQ_URL=amqp://user:password@services-mq/
    depends_on:
      services-mq:
        condition: service_healthy

  knowledge-base:
    ports:
      - "8085:8080"
    networks:
      - att-network

  user-interface:
    container_name: att-user-interface
    ports:
      - "3000:80"
    networks:
      - att-network

  reverse-proxy:
    restart: on-failure
    depends_on:
      - indicator-service
      - user-service
      - data-collector
      - resource-service
      - knowledge-base
      - user-interface
    networks:
      - att-network

  services-mq:
    networks:
      - att-network

  data-mq:
    networks:
      - att-network

  keycloak:
    networks:
      - att-network

networks:
  att-network:
    driver: bridge
